* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-wrap: wrap;
}

body {
    margin: 0;
    padding: 0;
  }

.header{
    background-color: rgb(1, 36, 1);
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 30px 100px 30px 100px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    align-content: space-around;

}

.website-name img{
    max-width: 5%;
    max-height: 5%; 
    margin-right: 5px;
}

.website-name{
    flex: 3; 
    display: flex;
    align-items: center; 
}


.website-name span.mrk{
    color: white;
    font-weight: bold;
}

.website-name span.visions {
    color: rgb(251,166,60);
}

.website-name span.visions:hover {
    font-weight: bold;
}


.section{
    display: flex;
    flex-basis: 80px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    font-weight: bold;
}

.home:hover {
    color: rgb(251,166,60);
}

.home:active{
    opacity: 0.7;
}

.about:hover {
    color: rgb(251,166,60);
}

.about:active{
    opacity: 0.7;
}

.skill:hover {
    color: rgb(251,166,60);
}

.skill:active{
    opacity: 0.7;
}

.contact:hover {
    color: rgb(251,166,60);
}

.contact:active{
    opacity: 0.7;
}

.featured-photo{
    background-color: rgba(1, 36, 1, 0.971);
    color: white;
    height: 850px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex; 
}

.featured-photo img {
    max-width: 100%;
    max-height: 150%;
    opacity: 60%;
}

.projects{
    background-color: rgba(1, 36, 1, 0.971);
    color: white;
    height: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

h1 {
    color: white;
    background-color: rgba(1, 36, 1, 0.971);
    padding: 40px 0 0 0;
    text-align: center;
}

h1 {
    text-align: center;
}

.prev {
    color: white;
}

.proj{
    color: rgb(251,166,60);
}

.projects{
    display: flex;
    flex-direction: column;
    
}

.project{
    width: 320px;
    height: 320px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.project1{
    background-color: gray
}

.project2{
    background-color: gray
}

.project3{
    background-color: gray
}

.skills-bio{
    display: flex;
    align-items: center;
    background-color: rgba(1, 36, 1, 0.971);
    height: 800px;
    padding: 10px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 70%;
}

.skills{
    background-color: rgba(1, 36, 1, 0.971);
    color: white;
    height: 800px;
    flex: 1;

}

.bio{
    background-color: rgba(1, 36, 1, 0.971);
    color: white;
    height: 800px;
    flex: 1;
}

.bio img{
    max-width: 100%;
    max-height: 80%;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgba(1, 36, 1, 0.971);
    color: white;
    height: 200px;
    padding: 10px;  
}

.logo{
   flex: 1;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: black;
}

.logo img{
    max-width: 100%;
    max-height: 100%; 
}

.footer-contents{
    flex: 3;
    justify-content: center;
    text-align: left;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    opacity: 70%;
}

a{
    color:rgb(251,166,60);
}
